/* COLORS

#242424 - dark grey
#FFA41B - orange
#595959 - lighter grey

*/

body {
    background-color: #242424;
}

/*MAIN*/

main {
    background-color: #ffa41b;
    height: 510px; /*important*/
    -webkit-box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
    z-index: 10;
    position: relative;
}


.games_sections {
    display: flex;
    justify-content: space-around;
    margin: 0 30px;
}

section {
    background-color: white;
    height: 460px; /*important*/
    width: 460px;
    margin: 25px 0;
    border-radius: 15px;
        transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
/*
        -webkit-box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 4px 19px -7px rgba(0, 0, 0, 0.43);
*/
}

.section:hover {
    transform: scale(1.05);
}

section h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    margin: 20px;
    color: black;
}

section img {
    height: 270px;
    margin: 40px auto;
    display: block;
}

section h3 {
    text-align: center;
    font-weight: 500;
    color: black;
}


/*MENU*/

.menu_item {
    background-color: #ffa41b;
    display: inline-block;
    width: 29.5%;
    height: 120px;
    border-radius: 15px;
    margin: -15px 15px 0 0;
}

.menu_item img {
    margin: 30px auto 0;
    display: block;
    height: 80px;
}

.menu_games {
    margin-left: 40px;
}

.menu_music {
    background-color: #595959;
}

.menu_events {
    margin-right: 0;
    background-color: #595959;
}

nav a {
    display: block;
}
