.games_rules_div {
    width: 870px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    left: 7%;

}

.how_to_play {
    font-size: 34px;
    margin-top: 2%;
    margin-left: 30px;
    padding: 10px;
}

.paragraph_how_to_play {
    font-size: 24px;
    padding: 10px;
    margin-top: -2%;
    margin-left: 30px;
    margin-right: 30px;
}
.minimum_players_how_to_play{
    padding: 10px;
    margin-top: 4%;
    margin-left: 30px;
    margin-right: 30px;
}
.start_game_button{
    position: absolute;
    top: 84%;
    left: 34%;
    width: 300px;
    height: 80px;
    background-color: #242424;
    font-size: 30px;
    border-radius: 15px;
    border: 2px solid #242424;
}
.start_text{
    color: white;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;
    font-family: vista-sans;
}

