body{
    background-color: #FFA41B;
    font-family: vista-sans, sans-serif;
    font-size: 20px;
    color: white;
}
.top{
    display: flex;
}
.arrow_image{
    max-width: 9%;
    margin-top: 12px;
    margin-left: 10%;
}
.title{
    font-size: 50px;
    margin-left: -12%;
    margin-top: 50px;
}
.info_image{
    max-width: 60%;
    margin-top: 20px;

}
.info{
    margin-left: 30%;
}
.random_number{
    font-size: 80px;
    color: black;
    text-align: center;
    position: absolute;
    margin-left: 20px;

}
.game_container{
    width: 550px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin-left: 22%;
}
