/* COLORS

#242424 - dark grey
#FFA41B - orange
#595959 - lighter grey

*/

body {
    background-color: #ffa41b;
}

.taboo2_h1 {
    text-transform: uppercase;
    font-size: 50px;
}

/*TABOO 2*/

.female-symbol {
    height: 60px;
    margin: 20px 240px;
    top: 6px;
}

.info-icon {
    right: 0;
    margin-right: 45px;
}

.card_container {
    background-color: white;
    width: 50%;
    margin: 50px auto 20px;
    border-radius: 15px;
}

.card_container h2 {
    font-size: 40px;
    text-align: center;
    background-color: #242424;
    color: white;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card_container p {
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.underline {
    border-bottom: 1px solid #242424;
}

.timeleft {
    background-color: white;
    padding: 20px 30px;
    width: 285px;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 255px;
}

.next {
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 20px 10px;
    width: 210px;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 15px;
    cursor: pointer;
}

.lol {
    display: none
}



















