*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

/* COLORS
#242424 - dark grey
#ff5050 - red
#595959 - lighter grey
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: vista-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    background-image: url(../images/background_welcoming_page.png);
    color: white;
    background-color: #242424;

}

.intro {
    text-align: center;
    padding-top: 240px;
}

.text {
    padding-right: 500px;
    font-size: 28px;
    font-weight: 200;

}

.tonight {
    padding-left: 700px;
    font-size: 28px;
    font-weight: 200;

}

.buddy {
    font-size: 54px;
}

.banner_container {
    position: relative;
    margin-top: 8%;
}


.btn {
    color: white;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 100px;
    background-color: #242424;
    width: 300px;
    height: 100px;



}
